@import "tailwindcss";

@plugin "daisyui" {
  themes:
    /* black --default, */ all;
  root: ":root";
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}
